@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('/styles/font.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Bebas Neue', sans-serif;
  font-style: 'text-shadow-black-outline';

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 640px) {
  .logo {
    position: absolute;
    width: 175px;
    top: 15px; /* Distance from the top of the container */
    left: 55px; /* Distance from the left side of the container */
  }
}

@media (max-width: 640px) {
  .logo {
    position: absolute;
    width: 165px;
    top: 13%; /* Distance from the top of the container */
    left: 50%; /* Distance from the left side of the container */
    transform: translate(-50%, -50%); /* Centers the logo */
  }
}

@media (min-width: 640px) {
  .bg-panes {
    background-image: url('https://res.cloudinary.com/drc0myo7z/image/upload/c_scale,w_1080/v1697413842/Trapiche/lsgceibitwu69x9ntulf_hyrbwy.jpg');
    background-repeat: no-repeat;
    background-position: 65% bottom;
    background-size: cover;
  }
}

@media (max-width:640px) {
  .bg-panes {
    background-image: url('https://res.cloudinary.com/drc0myo7z/image/upload/c_scale,w_1080/v1694794027/Trapiche/cgbgql0tmupgvdly2g5l.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}